
/* Start class main*/
.main{
	margin:50px;
}

/* Start class feature*/
.feature{
	width:288px;
	height:178px;
}
/* End class feature*/

/* Start nav */
nav{
	background: white;
	height:70px;
}

nav.a:hover:after {
  opacity: 0.8;
  visibility: visible;
  height: 100%;
}
/* End nav */

/* Start class hero*/
.hero{
 background-color:#ADD8E6;
background-size: cover;
display: table;
width: 100%;
}
/* End class hero*/

/* Start class hero container*/
.hero .container  {
display: table-cell;
text-align: center;
vertical-align: middle;
height: 689px
}
/* End class hero container*/

/* Start footer*/
 footer { 
  padding: 5px;
  background-color: #efefef;
  text-align: center;
  font-size:22px;
  font-family: 'Amita';  
}
/* Start Social icon*/
.fa {
  padding: 5px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
/* End Social icon*/
/* End footer*/

/* Start body*/
body {
    font-family: 'Acme';
	}
/* End body*/

/* Start class decoration for portfolio*/
.decoration{
  padding: 5px;
  background-color: #efefef;
  font-family: 'Aclonica';
}
/* End class decoration for portfolio*/

/* Start P*/
p{
	font-family: 'Amita';
	}
/* End P*/